WiktionaryCrawler/target/maven-archiver
WiktionaryCrawler/target/maven-status
WiktionaryCrawler/target/maven-status/maven-compiler-plugin
WiktionaryCrawler/target/WiktionaryCrawler-0.1-SNAPSHOT.jar
WiktionaryCrawler/target/maven-archiver/pom.properties
WiktionaryCrawler/target/WiktionaryCrawler-0.1-SNAPSHOT-sources.jar
MonolingualDictionaries/target/MonolingualDictionaries-0.1-SNAPSHOT.jar
MonolingualDictionaries/target/MonolingualDictionaries-0.1-SNAPSHOT-sources.jar
.idea
Log
SemanticDecomposition/target
WiktionaryCrawler/target
SemanticNetwork/SemanticDistanceMeasures/ELKB/target
SemanticNetwork/SemanticDistanceMeasures/target
ELKB/target
SemanticNetwork/target
SemanticDistanceMeasures/SemanticDistanceMeasureAPI/target
Dictionaries/MonolingualDictionaries/target/maven-archiver
Dictionaries/MonolingualDictionaries/target/maven-status
Dictionaries/MonolingualDictionaries/target/MonolingualDictionaries-0.1-SNAPSHOT-sources.jar
Dictionaries/MonolingualDictionaries/target/MonolingualDictionaries-0.1-SNAPSHOT.jar
Dictionaries/WordNetCrawler/target
Dictionaries/WiktionaryCrawler/target/maven-archiver
Dictionaries/WiktionaryCrawler/target/maven-status
Dictionaries/WikidataCrawler/target/
WiktionaryCrawler-0.1-SNAPSHOT-sources.jar
/word2vec-index/
*.iml
*.DS_Store
/data/

#generated target folders
*target/

*.out
